Repository Divyaansh313/hacky, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting review, documentation, enhancement

adding contributing.md draft
  CONTRIBUTING.md
Labels: awaiting review

Update README.md
  README.md
Labels: awaiting review, documentation

Edit for merge permission
  CONTRIBUTING.md
Labels: awaiting review

Add cogs and reactions
  Bot/bot.py
Labels: awaiting review

Update README.md
  README.md
Labels: awaiting review, documentation

Delete Bot directory
  Bot/bot.py
  Bot/cogs/debug.py
  Bot/cogs/general.py
  Bot/cogs/help.py
  Bot/cogs/moderation.py
  Bot/cogs/owner.py
Labels: awaiting review

Create .gitignore
  .gitignore
Labels: awaiting review

Add files via upload
  hacky/__pycache__/con.cpython-38.pyc
  hacky/__pycache__/config.cpython-38.pyc
  hacky/bot.py
  hacky/cogs/__pycache__/fun.cpython-38.pyc
  hacky/cogs/__pycache__/general.cpython-38.pyc
  hacky/cogs/__pycache__/moderation.cpython-38.pyc
  hacky/cogs/general.py
  hacky/cogs/moderation.py
  hacky/con.py
  hacky/core/__init__.py
  hacky/core/__pycache__/__init__.cpython-38.pyc
  hacky/core/__pycache__/activity.cpython-38.pyc
  hacky/core/__pycache__/database.cpython-38.pyc
  hacky/core/__pycache__/github.cpython-38.pyc
  hacky/core/__pycache__/schema.cpython-38.pyc
  hacky/core/activity.py
  hacky/core/database.py
  hacky/core/github.py
  hacky/core/schema.py
  hacky/files/activities.csv
Labels: none

new activity
  hacky/files/activities.csv
Labels: none

Update README.md
  README.md
Labels: awaiting review, documentation

Update bug.md
  .github/ISSUE_TEMPLATE/bug.md
Labels: awaiting review, documentation

Update docs.md
  .github/ISSUE_TEMPLATE/docs.md
Labels: awaiting review, documentation

Update bug.md
  .github/ISSUE_TEMPLATE/bug.md
Labels: awaiting review, documentation

Update ideas.md
  .github/ISSUE_TEMPLATE/ideas.md
Labels: awaiting review, documentation

Update README.md
  README.md
Labels: awaiting review, documentation

.github/labeler.yml:

# Add awaiting review label to all PRs-
# awaiting_review:
# - any: ['./*', 'Bot/*']
# Add documentation label-
awaiting review:
  - ./*
  - Bot/*
  - Bot/cogs/*
  - .github/*/*

documentation: 
  - README.md
  - CODE_OF_CONDUCT.md
  - LICENSE
  - .github/ISSUE_TEMPLATE/*
enhancement:
  - bot/cogs/*.py
